<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <filter>
    <filter-name>Circumflex Core Filter</filter-name>
    <filter-class>ru.circumflex.core.CircumflexFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Circumflex Core Filter</filter-name>
    <url-pattern>/login/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>

	<context-param>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
		<description>Vaadin production mode</description>
	</context-param>

	<!--  Vaadin UI application -->
	<servlet>
		<servlet-name>Monit</servlet-name>
    <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
    <!-- <servlet-class>org.vaadin.artur.icepush.ICEPushServlet</servlet-class> -->
		<init-param>
			<param-name>application</param-name>
			<param-value>com.nonebetwixt.agent.ui.AgentServices</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Monit</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
  <servlet-mapping>
    <servlet-name>Monit</servlet-name>
    <url-pattern>/ITMILL/*</url-pattern>
  </servlet-mapping>
	
	<session-config>
		<session-timeout>90</session-timeout>
	</session-config>
    
</web-app>